
# Python
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/
.pytest_cache/

# LaTeX temporary files
*.aux
*.log
*.out
*.toc
*.nav
*.snm
*.fls
*.fdb_latexmk
*.synctex.gz

# Editor and OS files
*~
.DS_Store
